body{
    background: rgb(160,125,100);
    background: linear-gradient(171deg, rgba(160,125,100,1) 0%, rgba(184,104,48,1) 100%);
    
}



.container{
    display: flex;
    justify-content: center;
    max-width: fit-content;
    background: rgb(230,230,230);
    background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(209,233,254,1) 100%);
    padding: 5rem;
    border-radius: 20px;
    width: 100%;
}


.inputVendedor{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 0.5fr);
    grid-column-gap: 25px;
    grid-row-gap: 40px;
}

    .grid1 { grid-area: 1 / 1 / 2 / 2; }
    .grid2 { grid-area: 1 / 2 / 2 / 3; }
    .grid3 { grid-area: 1 / 3 / 2 / 4; }
    .grid4 { grid-area: 2 / 1 / 3 / 4; }
    .grid5 { grid-area: 3 / 1 / 4 / 2; }
    .grid6 { grid-area: 3 / 2 / 4 / 3; }
    .grid7 { grid-area: 3 / 3 / 4 / 4; }

#addressInput{
    width: 48rem;
}
.form-label{
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}
.form-control{
    width: 15rem;
}
.desconto{
    width: 4rem;
    margin: 0 1rem 0 1rem;
}
.navbar{
    display: flex;
    justify-content: center;
}

.tittle{
    display: flex;
    justify-content: center;

    text-decoration: none;
    color: rgb(255, 255, 255);
    font-size: 4.5rem
}

hr{
    border-top: 3px solid #000000;
    border-radius: 5px;
}


/*LISTA DE PRODUTOS*/
/* Estilo da lista de produtos */
.lista-de-produtos {
    list-style: none;
    padding: 0;
    display: flex;
    /* gap: 5px; */
}

/* Estilo de cada produto individual */
.produto {
    padding: 5px;
    width: 30rem;
    background-color: azure;
    border-radius: 20px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.produto h2 {
    font-size: 20px;
    margin: 10px 0;
    font-weight:    bold;
}

.produto p {
    font-size: 14px;
}

.preco {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.listaProd{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}
.titleProds{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
}

.totalProds{
    font-family: 'Poppins', sans-serif;
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    font-weight: bold;
    color: #b86830;
}

.botaoDiv{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.botaoDivModal{
    display: flex;
    justify-content: center;
    margin-top: 5%;
}

.btnFinalizacao{
    border: none;
    border-radius: 20px;
    background: rgb(160,125,100);
    background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;

}

.btnFinalizacao:disabled{
    opacity: 0.8;
}
.modalBtn{
    border: none;
    border-radius: 20px;
    background: rgb(160,125,100);
    background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
    width: 12rem;
    height: 5rem;
    font-size: 1.5rem;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;

}


/* MODAL */
/* .modal{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #d6d6d6;
} */

#listaProdutosModal{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: 0 auto;
}

.content{
    background-color: #d3d3d3;
    margin: 15% auto;
    padding: 20px;
    border-radius: 20px;
    width: 70%;
    height: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.produto{
    padding: 5px;
    width: 25rem;
    background-color: azure;
    border-radius: 20px;
    list-style-type: none;
    font-family: 'Poppins', sans-serif;
    font-size: 1.2 rem;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}


.prodImg{
    height: 30%;
    width: 30%;
    margin-bottom: 1rem;
}
.prodModalTitle{
    font-weight: bold;
    margin-right: 0.5rem;
}
.form-control-qtd{
    width: 50px;
    border-radius: 10px;
    padding-left: 5px;
}

.prodInfos{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

.btnModal{
    border: none;
    border-radius: 10px;
    background: rgb(160,125,100);
    background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
    width: 6rem;
    height: 3rem;
    font-size: 0.8rem;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    text-decoration: none;
}

#descontoInput{
    width: 100px;
    border-radius: 10px;
    padding-left: 5px;
    margin-left: 1rem;
    margin-right: 1rem;
}

.descontoBtn{
    border: none;
    border-radius: 20px;
    background: rgb(160,125,100);
    background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
    width: 2.5rem;
    height: 2rem;
    font-size: 1.5rem;
    padding: unset;
    font-family: 'Poppins', sans-serif;
    color: aliceblue;
}

.selectUF{
    width: min-content;
    align-items: center;
}

.abaDesconto{
    display: flex;
    align-items: center;
}


@media screen and (max-width: 480px) {

    .abaDesconto{
        display: flex;
        align-items: center;
        height: 4.31rem;
    }
    .container{
        display: flex;
        justify-content: center;
        max-width: fit-content;
        background: rgb(230,230,230);
        background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(209,233,254,1) 100%);
        padding: 2rem;
        border-radius: 20px;
        width: 100%;
        margin-left: 11%;

    }
    
    .inputVendedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        }
        
        .grid1 { grid-area: 1 / 1 / 2 / 2; }
        .grid2 { grid-area: 1 / 2 / 2 / 3; }
        .grid3 { grid-area: 2 / 1 / 3 / 2; }
        .grid4 { grid-area: 2 / 2 / 3 / 3; }
        .grid5 { grid-area: 3 / 1 / 4 / 2; }
        .grid6 { grid-area: 3 / 2 / 4 / 3; }
    
    #addressInput{
        width: 15rem;
    }
    
    .form-label{
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .form-control{
        width: 15rem;
    }
    .desconto{
        width: 4rem;
        margin: 0 1rem 0 1rem;
    }
    .navbar {
        display: flex;
        justify-content: center;
        margin-left: 8.6rem;
    }
    
    .tittle{
        display: flex;
        justify-content: center;
    
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 4.5rem
    }
    
    hr{
        border-top: 3px solid #000000;
        border-radius: 5px;
    }

    body{
        background: rgb(160,125,100);
        background: linear-gradient(171deg, rgba(160,125,100,1) 0%, rgba(184,104,48,1) 100%);
        display: flex;
        justify-content: center;
        
    }
    
}



@media screen and (max-width: 768px) {

    .abaDesconto{
        display: flex;
        align-items: center;
        height: 4.31rem;
    }
    .container{
        display: flex;
        justify-content: center;
        max-width: fit-content;
        background: rgb(230,230,230);
        background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(209,233,254,1) 100%);
        padding: 2rem;
        border-radius: 20px;
        width: 100%;
        margin-left: 11%;
    }
    
    .inputVendedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        }
        
        .grid1 { grid-area: 1 / 1 / 2 / 2; }
        .grid2 { grid-area: 1 / 2 / 2 / 3; }
        .grid3 { grid-area: 2 / 1 / 3 / 2; }
        .grid4 { grid-area: 2 / 2 / 3 / 3; }
        .grid5 { grid-area: 3 / 1 / 4 / 2; }
        .grid6 { grid-area: 3 / 2 / 4 / 3; }
    
    #addressInput{
        width: 15rem;
    }
    
    .form-label{
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .form-control{
        width: 15rem;
    }
    .desconto{
        width: 4rem;
        margin: 0 1rem 0 1rem;
    }
    .navbar {
        display: flex;
        justify-content: center;
        margin-left: 8.6rem;
    }
    
    .tittle{
        display: flex;
        justify-content: center;
    
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 4.5rem
    }
    
    hr{
        border-top: 3px solid #000000;
        border-radius: 5px;
    }

    body{
        background: rgb(160,125,100);
        background: linear-gradient(171deg, rgba(160,125,100,1) 0%, rgba(184,104,48,1) 100%);
        display: flex;
        justify-content: center;
    }
    
}





@media screen and (max-width: 390px) {
    #app{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;     

    }
    .abaDesconto{
        display: flex;
        align-items: center;
        height: 5vh;
    }
    .descontoBtn{   
        margin: 0 0.5rem 0 0.5rem;
        border-radius: 10px;
        background: rgb(160,125,100);
        background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
        width: 2rem;
        height: 2rem;
        font-size: 0.8rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        color: aliceblue;
        border: none;
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        text-align: center;
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
    }
    .container{
        display: flex;
        justify-content: center;
        max-width: fit-content;
        background: rgb(230,230,230);
        background: linear-gradient(180deg, rgba(230,230,230,1) 0%, rgba(209,233,254,1) 100%);
        padding: 2rem;
        border-radius: 20px;
        width: 100%;
        margin-left: 14%;
    }
    
    .inputVendedor {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(3, 1fr);
        margin-left: 2rem;
        }
        
        .grid1 { grid-area: 1 / 1 / 2 / 2; }
        .grid2 { grid-area: 1 / 2 / 2 / 3; }
        .grid3 { grid-area: 2 / 1 / 3 / 2; }
        .grid4 { grid-area: 2 / 2 / 3 / 3; }
        .grid5 { grid-area: 3 / 1 / 4 / 2; }
        .grid6 { grid-area: 3 / 2 / 4 / 3; }
    
    #addressInput{
        width: 11rem;
    }
    
    .form-label{
        font-size: 1.0rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
    }
    .form-control{
        width: 11rem;
    }
    .desconto {
        width: 3rem;
        height: 2rem;
    }
    .navbar {
        display: flex;
        justify-content: center;
        margin-left: 8.6rem;
    }
    
    .tittle{
        display: flex;
        justify-content: center;
    
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 4.5rem;
    }
    .container hr {
        width: 23rem;
        margin: 10px auto;
    }
    hr{
        border-top: 3px solid #000000;
        border-radius: 5px;
        
    }

    body{
        background: rgb(160,125,100);
        background: linear-gradient(171deg, rgba(160,125,100,1) 0%, rgba(184,104,48,1) 100%);
        display: flex;
        justify-content: center;
    }
    .table{
        text-decoration: none;
        color: rgb(255, 255, 255);
        font-size: 0.65rem
    }

    .modalBtn{
        border: none;
        border-radius: 20px;
        background: rgb(160,125,100);
        background: linear-gradient(171deg,rgba(184,104,48,1) 40%,  rgba(160,125,100,1) 100%);
        width: 10rem;
        height: 3rem;
        font-size: 1.2rem;
        font-family: 'Poppins', sans-serif;
        color: aliceblue;
    
    }
    td{
        font-size: 0.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: bold;
        height: 2rem;
    }
}